@font-face
  {
	font-family: "Capture it"; /* Гарнитура шрифта */
    src: url(fonts/captureit.ttf) format('truetype'); /* Путь к файлу со шрифтом */
  }
html {
    font-family: "Capture it" !important; /*Specify your font name here*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-image: url("https://dottiest-oak.000webhostapp.com/images/background.jpg");
    background-size: cover;
	background-position: center center;
	background-attachment: fixed;
    font-family: "Capture it" !important; /*Specify your font name here*/
}

#login {
    background-color: #626262;
    border-radius: 0 0 10px 10px;
    font-family: "Capture it";
    font-size: 36px;
    text-align: center;
    border-right: solid 10px #313131;
    border-left: solid 10px #313131;
    border-bottom: solid 10px #313131;
}

#main {
    margin-top: 0px;
    background-color: #626262;
    border-radius: 10px 10px 0 0;
    font-family: "Capture it" !important;
    font-size: 35px;
    border-top: solid 10px #313131;
    border-left: solid 10px #313131;
    border-right: solid 10px #313131;
    width: 950px;
}

#admintext {
    border-right: solid 1px #313131;
    border-bottom:  solid 1px #313131;
    text-align: center; 
}

#ruleheader {
    text-align: center;
    border-bottom:  solid 1px #313131;
}

#main2 {
    background-color: #626262;
    border-radius: 0 0 10px 10px;
    font-family: "Capture it" !important;
    font-size: 35px;
    border-bottom: solid 10px #313131;
    border-left: solid 10px #313131;
    border-right: solid 10px #313131;
    width: 950px;
}

#admins {
    border-right: solid 1px #313131;
}

#welcome {
    text-align: center;
	color: #626262;
	font-size: 50px;
}

#welcome2 {
    text-align: center;
	color: #626262;
	font-size: 50px;
}